body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.navbar{
    background-color: rgb(39, 39, 39);
    
}

.quem-somos{
    background-color: rgb(61, 61, 61);
    color: white;
}
.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}
.galeria{
    background-color: rgb(100, 100, 100);
    color: whitesmoke;
}
.servicos{
    background-color: rgb(61, 61, 61);
    color: white;
}
.bg-footer{
    padding: 14px;
    background-color: rgb(39, 39, 39);
    color: blanchedalmond;

}